<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view  view-title="我的课程">
      <ion-nav-buttons side="left">
        <a class="button"  ng-href="#/sign-in">
          注销
        </a>
      </ion-nav-buttons>
  <ion-content class="padding">
   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <div class="padding-left padding-right padding-top pading-bottom"  collection-repeat="course in courses" collection-item-width="'25%'"
    collection-item-height="getItemHeight(course, $index)"
    ng-style="{height: getItemHeight(course, $index)}">
   <a class="item item-thumbnail-top my-course-item"
    ng-href="#/courses/{{course.course_id}}">
      <img ng-src="{{course.cover_url}}">
      <h2>{{course.course_name}}</h2>
      <p>{{course.study_num}}</p>
      <p>{{course.open_time}}</p>
  </a>
  </div>
  <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-content>
</ion-view>
