/* Empty. Add your own CSS if you like */
.my-course-item{
 text-align: center;
}

.course-detail{

}
.course-detail-left{
	float: left;
}

.course-detail-right{
	float: left;
	line-height: 40px;
}

.course-nav{
  height: 64px;
  line-height: 40px;
  float: left;
  width: 100%;
  border-bottom: 1px solid red;
}
.course-nav li{
  text-align: center;
  padding-top: 20px;
  float: left;
  width: 64px;
  height: 100%;
  color: #666;
}

.course-nav :hover {
  border-bottom: 1px solid #23b7e5;
  color: #000;
}

.course-nav .active {
  border-bottom: 2px solid #23b7e5;
  color: #000;
}
